{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Действия</th>
    </tr>

    {% for item in order_items %}
      {% if item.status == "UNPR" or item.status == "COOK" %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.get_status_display}}</td>
          <td>{{item.get_payment_method_display}}</td>
          <td>{{item.total_cost}} руб.</td>
          <td>{{item.firstname}} {{item.lastname}}</td>
          <td>{{item.phonenumber}}</td>
          <td>{{item.address}}</td>
          <td>{{item.comment}}</td>
          <td>
            {% if item.cooking_now %}
              готовит {{item.cooking_now.name}}
            {% else %}
              {% if item.restaurants %}
                <details style="white-space: nowrap;">
                <summary  style="cursor: pointer; font-size: 14px;">Может быть приготовлен ресторанами:</summary>
                <ul>
                  {% for restaurant in item.restaurants %}
                    <li>{{restaurant.0}} - {{restaurant.1}}</li>
                  {% endfor %}
                </ul>
                </details>
              {% else %}
                Подходяших ресторанов не найдено
              {% endif %}
            {% endif %}
          </td>
          <td>
            <a href="{% url 'admin:foodcartapp_order_change' item.id %}?next={{ request.path|urlencode }}">Ред.</a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
   </table>
  </div>
{% endblock %}
